@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<br />

<div class="text-center">
    <p>Minha Variavel de Sessao: @ViewBag.MinhaVarDeSessao</p>
    <p>Cached Time UTC: @ViewBag.CachedTimeUTC</p>
</div>

